{% extends "base.html" %}

{% block includes %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}


{% block content %}
<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="#" class="active">Progress</a>
  <a href="current">Current</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars">Menu</i>
  </a>
</div>

<div>
  <h1>Session statistics:</h1>
    <b>Number of sessions: </b>{{ number }}<br/>
    <b>Average number of measurements: </b>{{ average_number_of_measurements }}<br/>
    <b>Average score: </b>{{ average_session }}<br/><br/>
</div>

<div id='plot'></div>


  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    var plot_sess = {{plot_sess | safe}};
    Plotly.plot('plot',plot_sess,{});
    </script>
{% endblock %}
